.moderation-state-columns--component-container {
  display: flex;
  justify-content: space-between;
}

.moderation-state-columns--component-container .moderation-state-columns--json-content {
  display: none;
}

.moderation-state-columns--component-container .moderation-state-column {
  background: #e0e3e7;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 1em;
  padding: 1em 1em 0 1em;
}

.moderation-state-columns--component-container .moderation-state-column:first-child {
  margin-left: 0;
}

.moderation-state-columns--component-container .moderation-state-column:last-child {
  margin-right: 0;
}

.moderation-state-columns--component-container .moderation-state-column h2 {
  margin: 0 0 1em 0;
  padding: 0;
}

.moderation-state-columns--component-container .moderation-state-column p {
  margin: 0;
  padding: 0;
}

.moderation-state-columns--component-container .moderation-state-column--item {
  border: 1px solid #ffffff;
  margin-bottom: 1em;
  padding: 1em;
}
